/* 
#303481 - koyu mavi
#D6E6F2 - acik mavi
#F5F5F5 - açık gri
#FFF200 = sari
*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5F5F5;
    padding-top: 65px;
}

#about h1 {
    text-align: center;
    color: #303481;
    margin-bottom: 20px;
}

#baslik {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 75px;
    color: #F5F5F5;
    background-color: #303481;
    border-color: #D6E6F2;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

div nav {
    display: flex;
    gap: 20px;
}

div nav a:link,
div nav a:visited {
    color: #D6E6F2;
    text-decoration: none;
}

div nav a:hover {
    color: #FFF200;
}

table {
    margin: 40px auto;
}

table caption {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #303481;
}

#proje-card {
    width: 480px;
    height: 260px;
    border: 2px solid #303481;
    border-radius: 10px;
    background-color: #D6E6F2;
    padding: 12px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    vertical-align: top;
}

#proje-card h3 {
    color: #303481;
    margin-top: 0;
}

#proje-info {
    height: 180px;
    padding: 8px 10px 0 10px;
    text-align: left;
    line-height: 1.5;
    font-size: 15px;
    color: #303481;
    box-sizing: border-box;
    overflow-y: auto;
}

#proje1-btn,
#proje2-btn,
#proje3-btn {
    width: 100px;
    height: 30px;
    background-color: #303481;
    color: #F5F5F5;
    border-style: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 2;
}

#proje1-btn:hover,
#proje2-btn:hover,
#proje3-btn:hover {
    background-color: #D6E6F2;
    color: #303481;
    border-style: solid;
    border-width: 2px;
    border-color: #303481;
}

#profile {
    width: 600px;
    height: auto;
    margin: auto;
}

#profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #303481;
    background-image: url(https://media.licdn.com/dms/image/v2/D4D03AQGfhlA9sOjn6w/profile-displayphoto-shrink_400_400/B4DZUF8AkJHYAg-/0/1739561372792?e=1773273600&v=beta&t=OVROs3tDd6EgxWWnJXbe0j78dwzbCjcKsHL7nf4GNMA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

#profile-info {
    width: auto;
    height: auto;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    color: #303481;
}

footer {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #303481;
    color: #F5F5F5;
    margin-top: 20px;
    border-color: #D6E6F2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

footer a:link,
footer a:visited {
    color: #D6E6F2;
    text-decoration: none;
}

footer a:hover {
    color: #FFF200;
}

#contact-table {
    border-style: solid;
    border-width: 1px;
    background-color: #D6E6F2;
}

#contact-table table {
    background-color: #F5F5F5;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #303481;
    padding: 40px;
    max-width: 900px;
}

#contact-table h3 {
    color: #303481;
    ;
}

#contact-table p {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputbox {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputbox:focus {
    border-color: #303481;
    border-width: 2px;
    outline: none;
}

.submitbox {
    width: 100%;
    padding: 10px;
    background-color: #303481;
    color: #F5F5F5;
    border-style: none;
    border-radius: 5px;
}

.submitbox:hover {
    background-color: #D6E6F2;
    color: #303481;
    border-style: solid;
    border-width: 1px;
    border-color: #303481;
}

#cv-btn {
    border: 0px solid #303481;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #303481;
}

#cv-btn:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #F5F5F5;
    background-color: #303481;
    color: #F5F5F5;
}